<div class="card">
  <img src="/img/card1.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Хочете спробувати?</h5>
    <p class="card-text">Пройдіть тест в Telegram-боті!</p>
    <a href="#" class="btn btn-primary">@AndarLanguageBot</a>
  </div>
</div>