<%- include('./partials/head', { title: 'Перший Європейский' }) %>
  <!-- ⬆ Includes <html> and <head>...</head> ⬆ -->

  <body>
    <%- include('./partials/navbar', { page: 'add' }) %>
      <main>
        <p>
          Contact information here
        </p>
      </main>
      <%- include('./partials/footer') %>
        <!-- ⬆ Includes <footer>...</footer> ⬆ -->
  </body>

</html>